ul.header-list li {
  display: inline;
  list-style-type: none;
  margin: 0;
}
ul.header-list {
  background-color: #111;
  background: transparent;
  padding: 3%;
}
ul.header-list li a {
  color: gray;
  font-weight: bold;
  text-decoration: none;
  padding: 20px;
  display: inline-block;
}
