.App {
  /* text-align: center; */
  /* background-color: #3d262c; */
  background-color: #53b8c5;
  font-size: calc(10px + 2vmin);
  color: white;
  min-height: 100vh;
}

.home-section{
  /* background-color: #2E151B; */
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  text-align: center;
  width: 100vw;
  /* width: 20vw; */
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.router a{
  color: #c9af98;
}

.about-text{
  padding-top: 50px;
}
