.home-section{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.home-text{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  width: 50vw;
}

@media (max-width: 450px) {
  .home-text{
    width: 100vw;
    min-height: 50vh;
  }
}

.projects{
  min-height: 70vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  width: 100vw;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.router a{
  color: #c9af98;
}

.about-text{
  padding-top: 50px;
}
