body {
  /* padding: 50px; */
  margin: 0;
}
h1, h2, p, ul, li {
  font-family: sans-serif;
}

.content {
  background-color: #FFF;
  /* padding: 20px; */
}
.content h2 {
  padding: 0;
  margin: 0;
}
.content li {
  margin-bottom: 10px;
}

.active {
  background-color: #0099FF;
}

.test{

}


.test-header{
  font-size: 60px;
  margin: 2% 0% 2% 50%;
  padding: 10%;
}

.test-body{
  font-size: 22px;
  padding: 10%;
  margin: 2% 0% 2% 50%;
}



.gray{
  background-color: gray;
}
